@import "../../assets/style/root.scss";

.layoutContainer {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main);
  margin: 0;
  padding: 0;

  @include large {
    background-color: var(--secondary);
  }
  .tableContainer {
    padding: 50px 100px;
  }
  img {
    width: 50px;
    cursor: pointer;
  }
}
